*/__pycache__
*.csv
*.ipynb
*.txt
*.xlsx
*.zip
bak/
data/
evaluation/
fromweb/
modes/
results/
src/
temp/
tmp/
misc/
*.ipynb
.idea/
.ipynb_checkpoints/
ipynb/
a
Documents
Downloads
outdir/
HRM_Downloads
collection/
children/
